body {
    font-family: sans-serif;
}

#logo {
    height: 50px;
}

.idp_logo {
    height: 50px;
}

.small-font {
    font-size: 0.7em;
}

.styled-form {
    min-width: 400px;
    border-collapse: collapse;
    text-align: right;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead,tfoot tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tfoot {
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.amount {
    text-align: right;
}

.inline-element {
    display: inline-block;
    vertical-align: top;
    horizontal-align: right;
    margin-right: 20px;
}

.align-right {
    float: right;
}